# Parkway Project

### Load Data

#### Import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_rows', 500)

#### Read data from file

In [2]:
filePath = 'ParkwaySampleDataForProject_05.xlsx'
df = pd.read_excel(filePath)
display(df.shape)

(381212, 82)

### Exploratory Data Analysis

#### Explore data

In [3]:
info = []
for col in df.columns:
    non_null  = len(df) - np.sum(pd.isna(df[col]))
    num_unique = df[col].nunique()
    col_type = str(df[col].dtype)

    info.append([col, non_null, num_unique, col_type])

features_info = pd.DataFrame(info, columns = ['colName','non-null values', 'unique', 'dtype'])
display(features_info)
#features_info.to_csv('Info_List.csv')

                colName  non-null values  unique           dtype
0           INSTITUTION           381212       4          object
1           CASE_NUMBER           381212  381211           int64
2        TOTAL_PAID_AMT           381212  326926         float64
3          PAYER_CODE_1           381212     482          object
4          PAYER_NAME_1           381212     425          object
5      PAYER_1_PAID_AMT           381212  308364         float64
6          PAYER_CODE_2           149323     378          object
7          PAYER_NAME_2           149323     329          object
8      PAYER_2_PAID_AMT           381212  117070         float64
9          PAYER_CODE_3            53210     230          object
10         PAYER_NAME_3            53210     201          object
11     PAYER_3_PAID_AMT           381212   42886         float64
12         PAYER_CODE_4             2370      89          object
13         PAYER_NAME_4             2370      78          object
14     PAYER_4_PAID_AMT           381212    2198         float64
15         PAYER_CODE_5               52      21          object
16         PAYER_NAME_5               52      18          object
17     PAYER_5_PAID_AMT           381212      41         float64
18            CASE_TYPE           381212       1          object
19             BED_TYPE           381212      10          object
20        REFERRAL_TYPE           381208      50          object
21   TREATMENT_CATEGORY           381212      60          object
22        ADMISSION_DTE           381212    1095  datetime64[ns]
23       ADMISSION_TYPE           381212       8          object
24        DISCHARGE_DTE           381212    1128  datetime64[ns]
25       DISCHARGE_TYPE           381212       9           int64
26  DISCHARGE_TYPE_DESC           381212       9          object
27             LOS_DAYS           381212     147           int64
28          DOCTOR_CODE           381211    1247          object
29          DOCTOR_NAME           381212    1247          object
30       SPECIALTY_CODE           381175      36         float64
31       SPECIALTY_DESC           381175      36          object
32        SPECIALTY_GRP           372893       5         float64
33           TOSP_COUNT           381212      12           int64
34          TOSP_STRING           267027   17488          object
35           TOSP_CODE1           267027    2114          object
36           TOSP_CODE2            85651    1571          object
37           TOSP_CODE4             3265     491          object
38           TOSP_DESC1           381212    1807          object
39           TOSP_DESC2            85651    1358          object
40           TOSP_DESC3            12949     852          object
41           TOSP_DESC4             3265     442          object
42          NATIONALITY           381212     163          object
43            RESID_CTY           381207     132          object
44     RESID_POSTALCODE           381200   41510          object
45                  DOB           381212   31946  datetime64[ns]
46        NONRESID_FLAG           381212       2          object
47          PATIENT_SID           381212  266575           int64
48       PATIENT_NUMBER           381212  266575           int64
49               GENDER           381212       3          object
50        DECEASED_FLAG           381212       2          object
51       MARITAL_STATUS           363472       8          object
52             RELIGION           172319      17          object
53             LANGUAGE           381212       1          object
54             VIP_FLAG           381212       2          object
55                 RACE           380824       8          object
56             DRG_CODE           372892     682          object
57             DRG_DESC           381212     681          object
58        PAYER_CODE1_V           381212     482          object
59        PAYER_NAME1_V           381212     425          object
60        PAYER_CODE2_V           149323     378          object
61        PAYER_NAME2_V           149323     329          object
62        PAYER_CODE3_V            53210     230          object
63        PAYER_NAME3_V            53210     201          object
64        PAYER_CODE4_V             2370      89          object
65        PAYER_NAME4_V             2370      78          object
66         PACKAGE_CODE            91104     185         float64
67        PACKAGE_PRICE            91104     473         float64
68         PACKAGE_EXCL            91104   51911         float64
69          PACKAGE_ADJ            91104   46967         float64
70         PACKAGE_DESC            91104     187          object
71        PACKAGE_CODE1            91104     185         float64
72        PACKAGE_CODE2                2       1         float64
73        PACKAGE_DESC1            91104     187          object
74        PACKAGE_DESC2                2       1          object
75            ICD_CODE1           377243    7143          object
76            ICD_CODE2           166168    5699          object
77            ICD_CODE3            68949    3412          object
78       ICDCODE_STRING           377243   72380          object
79             PROF_FEE           381212  296434         float64
80           TOTAL_FEES           381212  326926         float64
81            WRITE_OFF           381212    2398         float64

### Feature Engineering

### Preprocessing

### Training

### Validation