In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from datapipeline import Datapipeline
import pandas as pd
import numpy as np
import pickle
import os

In [3]:
dpl = Datapipeline()

In [4]:
dict_hosp_filepaths = {
    'GHL': './Data Exploration/data/GHL_data.h5',
    'MEH': './Data Exploration/data/MEH_data.h5',
    'PEH': './Data Exploration/data/PEH_data.h5',
    'PNH': './Data Exploration/data/PNH_data.h5'}

In [5]:
raw_data_path = './Data Exploration/data/ParkwaySampleDataForProject_09_withTOSP3.xlsx'
dict_hosp_filepaths = dpl.transform_raw_data(raw_data_path)
print(dict_hosp_filepaths)

{'GHL': './Data Exploration/data/GHL_data.pkl', 'MEH': './Data Exploration/data/MEH_data.pkl', 'PEH': './Data Exploration/data/PEH_data.pkl', 'PNH': './Data Exploration/data/PNH_data.pkl'}

In [6]:
dict_hosp_df = {}
for hosp in dict_hosp_filepaths:
    dict_hosp_df[hosp] = pd.read_pickle(dict_hosp_filepaths[hosp])
    print(hosp, len(dict_hosp_df[hosp]))

GHL 106229
MEH 131062
PEH 38138
PNH 105781

In [7]:
for hosp in dict_hosp_df:
    df = dict_hosp_df[hosp]
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106229 entries, 1014019571 to 1019109590
Data columns (total 45 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TOTAL_PAID_AMT      106229 non-null  float64
 1   PAYER_CODE_1        106229 non-null  object
 2   PAYER_1_PAID_AMT    106229 non-null  float64
 3   PAYER_CODE_2        106229 non-null  object
 4   PAYER_2_PAID_AMT    106229 non-null  float64
 5   PAYER_CODE_3        106229 non-null  object
 6   PAYER_3_PAID_AMT    106229 non-null  float64
 7   PAYER_CODE_4        106229 non-null  object
 8   PAYER_4_PAID_AMT    106229 non-null  float64
 9   PAYER_CODE_5        106229 non-null  object
 10  PAYER_5_PAID_AMT    106229 non-null  float64
 11  BED_TYPE            106229 non-null  object
 12  REFERRAL_TYPE       106229 non-null  object
 13  TREATMENT_CATEGORY  106229 non-null  object
 14  ADMISSION_TYPE      106229 non-null  object
 15  DISCHARGE_TYPE      106229 non-null  int64
 16  LOS_DAYS            106229 non-null  int64
 17  DOCTOR_CODE         106229 non-null  object
 18  SPECIALTY_CODE      106229 non-null  object
 19  SPECIALTY_GRP       106229 non-null  object
 20  TOSP_COUNT          106229 non-null  int64
 21  TOSP_CODE1          106229 non-null  object
 22  TOSP_CODE2          106229 non-null  object
 23  TOSP_CODE3          106229 non-null  object
 24  TOSP_CODE4          106229 non-null  object
 25  NATIONALITY         106229 non-null  object
 26  NONRESID_FLAG       106229 non-null  int32
 27  GENDER              106229 non-null  object
 28  DECEASED_FLAG       106229 non-null  int32
 29  MARITAL_STATUS      106229 non-null  object
 30  RELIGION            106229 non-null  object
 31  VIP_FLAG            106229 non-null  int32
 32  RACE                106229 non-null  object
 33  PACKAGE_PRICE       106229 non-null  float64
 34  PACKAGE_EXCL        106229 non-null  float64
 35  PACKAGE_ADJ         106229 non-null  float64
 36  PACKAGE_CODE1       106229 non-null  object
 37  PACKAGE_CODE2       106229 non-null  object
 38  ICD_CODE1           106229 non-null  object
 39  ICD_CODE2           106229 non-null  object
 40  ICD_CODE3           106229 non-null  object
 41  PROF_FEE            106229 non-null  float64
 42  TOTAL_FEES          106229 non-null  float64
 43  WRITE_OFF           106229 non-null  float64
 44  Admission_Age       106229 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 36.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 131062 entries, 2016063345 to 2019131221
Data columns (total 45 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TOTAL_PAID_AMT      131062 non-null  float64
 1   PAYER_CODE_1        131062 non-null  object
 2   PAYER_1_PAID_AMT    131062 non-null  float64
 3   PAYER_CODE_2        131062 non-null  object
 4   PAYER_2_PAID_AMT    131062 non-null  float64
 5   PAYER_CODE_3        131062 non-null  object
 6   PAYER_3_PAID_AMT    131062 non-null  float64
 7   PAYER_CODE_4        131062 non-null  object
 8   PAYER_4_PAID_AMT    131062 non-null  float64
 9   PAYER_CODE_5        131062 non-null  object
 10  PAYER_5_PAID_AMT    131062 non-null  float64
 11  BED_TYPE            131062 non-null  object
 12  REFERRAL_TYPE       131062 non-null  object
 13  TREATMENT_CATEGORY  131062 non-null  object
 14  ADMISSION_TYPE      131062 non-null  object
 15  DISCHARGE_TYPE      131062 non-null  int64
 16  LOS_DAYS            131062 non-null  int64
 17  DOCTOR_CODE         131062 non-null  object
 18  SPECIALTY_CODE      131062 non-null  object
 19  SPECIALTY_GRP       131062 non-null  object
 20  TOSP_COUNT          131062 non-null  int64
 21  TOSP_CODE1          131062 non-null  object
 22  TOSP_CODE2          131062 non-null  object
 23  TOSP_CODE3          131062 non-null  object
 24  TOSP_CODE4          131062 non-null  object
 25  NATIONALITY         131062 non-null  object
 26  NONRESID_FLAG       131062 non-null  int32
 27  GENDER              131062 non-null  object
 28  DECEASED_FLAG       131062 non-null  int32
 29  MARITAL_STATUS      131062 non-null  object
 30  RELIGION            131062 non-null  object
 31  VIP_FLAG            131062 non-null  int32
 32  RACE                131062 non-null  object
 33  PACKAGE_PRICE       131062 non-null  float64
 34  PACKAGE_EXCL        131062 non-null  float64
 35  PACKAGE_ADJ         131062 non-null  float64
 36  PACKAGE_CODE1       131062 non-null  object
 37  PACKAGE_CODE2       131062 non-null  object
 38  ICD_CODE1           131062 non-null  object
 39  ICD_CODE2           131062 non-null  object
 40  ICD_CODE3           131062 non-null  object
 41  PROF_FEE            131062 non-null  float64
 42  TOTAL_FEES          131062 non-null  float64
 43  WRITE_OFF           131062 non-null  float64
 44  Admission_Age       131062 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 44.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 38138 entries, 3015027898 to 3019056279
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      38138 non-null  float64
 1   PAYER_CODE_1        38138 non-null  object
 2   PAYER_1_PAID_AMT    38138 non-null  float64
 3   PAYER_CODE_2        38138 non-null  object
 4   PAYER_2_PAID_AMT    38138 non-null  float64
 5   PAYER_CODE_3        38138 non-null  object
 6   PAYER_3_PAID_AMT    38138 non-null  float64
 7   PAYER_CODE_4        38138 non-null  object
 8   PAYER_4_PAID_AMT    38138 non-null  float64
 9   PAYER_CODE_5        38138 non-null  object
 10  PAYER_5_PAID_AMT    38138 non-null  float64
 11  BED_TYPE            38138 non-null  object
 12  REFERRAL_TYPE       38138 non-null  object
 13  TREATMENT_CATEGORY  38138 non-null  object
 14  ADMISSION_TYPE      38138 non-null  object
 15  DISCHARGE_TYPE      38138 non-null  int64
 16  LOS_DAYS            38138 non-null  int64
 17  DOCTOR_CODE         38138 non-null  object
 18  SPECIALTY_CODE      38138 non-null  object
 19  SPECIALTY_GRP       38138 non-null  object
 20  TOSP_COUNT          38138 non-null  int64
 21  TOSP_CODE1          38138 non-null  object
 22  TOSP_CODE2          38138 non-null  object
 23  TOSP_CODE3          38138 non-null  object
 24  TOSP_CODE4          38138 non-null  object
 25  NATIONALITY         38138 non-null  object
 26  NONRESID_FLAG       38138 non-null  int32
 27  GENDER              38138 non-null  object
 28  DECEASED_FLAG       38138 non-null  int32
 29  MARITAL_STATUS      38138 non-null  object
 30  RELIGION            38138 non-null  object
 31  VIP_FLAG            38138 non-null  int32
 32  RACE                38138 non-null  object
 33  PACKAGE_PRICE       38138 non-null  float64
 34  PACKAGE_EXCL        38138 non-null  float64
 35  PACKAGE_ADJ         38138 non-null  float64
 36  PACKAGE_CODE1       38138 non-null  object
 37  PACKAGE_CODE2       38138 non-null  object
 38  ICD_CODE1           38138 non-null  object
 39  ICD_CODE2           38138 non-null  object
 40  ICD_CODE3           38138 non-null  object
 41  PROF_FEE            38138 non-null  float64
 42  TOTAL_FEES          38138 non-null  float64
 43  WRITE_OFF           38138 non-null  float64
 44  Admission_Age       38138 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 12.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 105781 entries, 4015032842 to 4019117134
Data columns (total 45 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TOTAL_PAID_AMT      105781 non-null  float64
 1   PAYER_CODE_1        105781 non-null  object
 2   PAYER_1_PAID_AMT    105781 non-null  float64
 3   PAYER_CODE_2        105781 non-null  object
 4   PAYER_2_PAID_AMT    105781 non-null  float64
 5   PAYER_CODE_3        105781 non-null  object
 6   PAYER_3_PAID_AMT    105781 non-null  float64
 7   PAYER_CODE_4        105781 non-null  object
 8   PAYER_4_PAID_AMT    105781 non-null  float64
 9   PAYER_CODE_5        105781 non-null  object
 10  PAYER_5_PAID_AMT    105781 non-null  float64
 11  BED_TYPE            105781 non-null  object
 12  REFERRAL_TYPE       105781 non-null  object
 13  TREATMENT_CATEGORY  105781 non-null  object
 14  ADMISSION_TYPE      105781 non-null  object
 15  DISCHARGE_TYPE      105781 non-null  int64
 16  LOS_DAYS            105781 non-null  int64
 17  DOCTOR_CODE         105781 non-null  object
 18  SPECIALTY_CODE      105781 non-null  object
 19  SPECIALTY_GRP       105781 non-null  object
 20  TOSP_COUNT          105781 non-null  int64
 21  TOSP_CODE1          105781 non-null  object
 22  TOSP_CODE2          105781 non-null  object
 23  TOSP_CODE3          105781 non-null  object
 24  TOSP_CODE4          105781 non-null  object
 25  NATIONALITY         105781 non-null  object
 26  NONRESID_FLAG       105781 non-null  int32
 27  GENDER              105781 non-null  object
 28  DECEASED_FLAG       105781 non-null  int32
 29  MARITAL_STATUS      105781 non-null  object
 30  RELIGION            105781 non-null  object
 31  VIP_FLAG            105781 non-null  int32
 32  RACE                105781 non-null  object
 33  PACKAGE_PRICE       105781 non-null  float64
 34  PACKAGE_EXCL        105781 non-null  float64
 35  PACKAGE_ADJ         105781 non-null  float64
 36  PACKAGE_CODE1       105781 non-null  object
 37  PACKAGE_CODE2       105781 non-null  object
 38  ICD_CODE1           105781 non-null  object
 39  ICD_CODE2           105781 non-null  object
 40  ICD_CODE3           105781 non-null  object
 41  PROF_FEE            105781 non-null  float64
 42  TOTAL_FEES          105781 non-null  float64
 43  WRITE_OFF           105781 non-null  float64
 44  Admission_Age       105781 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 35.9+ MB
None

In [8]:
dict_df_train = {}
dict_df_test = {}
for hosp in dict_hosp_df:
    df_train, df_test = dpl.train_test_split(dict_hosp_df[hosp], random_state=0)
    dict_df_train[hosp] = df_train
    dict_df_test[hosp] = df_test
    print(df_train.shape, df_test.shape)
    print(df_train.info())
    print(df_test.info())

(79672, 45) (26557, 45)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79672 entries, 1014019571 to 1019109590
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      79672 non-null  float64
 1   PAYER_CODE_1        79672 non-null  object
 2   PAYER_1_PAID_AMT    79672 non-null  float64
 3   PAYER_CODE_2        79672 non-null  object
 4   PAYER_2_PAID_AMT    79672 non-null  float64
 5   PAYER_CODE_3        79672 non-null  object
 6   PAYER_3_PAID_AMT    79672 non-null  float64
 7   PAYER_CODE_4        79672 non-null  object
 8   PAYER_4_PAID_AMT    79672 non-null  float64
 9   PAYER_CODE_5        79672 non-null  object
 10  PAYER_5_PAID_AMT    79672 non-null  float64
 11  BED_TYPE            79672 non-null  object
 12  REFERRAL_TYPE       79672 non-null  object
 13  TREATMENT_CATEGORY  79672 non-null  object
 14  ADMISSION_TYPE      79672 non-null  object
 15  DISCHARGE_TYPE      79672 non-null  int64
 16  LOS_DAYS            79672 non-null  int64
 17  DOCTOR_CODE         79672 non-null  object
 18  SPECIALTY_CODE      79672 non-null  object
 19  SPECIALTY_GRP       79672 non-null  object
 20  TOSP_COUNT          79672 non-null  int64
 21  TOSP_CODE1          79672 non-null  object
 22  TOSP_CODE2          79672 non-null  object
 23  TOSP_CODE3          79672 non-null  object
 24  TOSP_CODE4          79672 non-null  object
 25  NATIONALITY         79672 non-null  object
 26  NONRESID_FLAG       79672 non-null  int32
 27  GENDER              79672 non-null  object
 28  DECEASED_FLAG       79672 non-null  int32
 29  MARITAL_STATUS      79672 non-null  object
 30  RELIGION            79672 non-null  object
 31  VIP_FLAG            79672 non-null  int32
 32  RACE                79672 non-null  object
 33  PACKAGE_PRICE       79672 non-null  float64
 34  PACKAGE_EXCL        79672 non-null  float64
 35  PACKAGE_ADJ         79672 non-null  float64
 36  PACKAGE_CODE1       79672 non-null  object
 37  PACKAGE_CODE2       79672 non-null  object
 38  ICD_CODE1           79672 non-null  object
 39  ICD_CODE2           79672 non-null  object
 40  ICD_CODE3           79672 non-null  object
 41  PROF_FEE            79672 non-null  float64
 42  TOTAL_FEES          79672 non-null  float64
 43  WRITE_OFF           79672 non-null  float64
 44  Admission_Age       79672 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 27.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26557 entries, 1014060798 to 1019109581
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      26557 non-null  float64
 1   PAYER_CODE_1        26557 non-null  object
 2   PAYER_1_PAID_AMT    26557 non-null  float64
 3   PAYER_CODE_2        26557 non-null  object
 4   PAYER_2_PAID_AMT    26557 non-null  float64
 5   PAYER_CODE_3        26557 non-null  object
 6   PAYER_3_PAID_AMT    26557 non-null  float64
 7   PAYER_CODE_4        26557 non-null  object
 8   PAYER_4_PAID_AMT    26557 non-null  float64
 9   PAYER_CODE_5        26557 non-null  object
 10  PAYER_5_PAID_AMT    26557 non-null  float64
 11  BED_TYPE            26557 non-null  object
 12  REFERRAL_TYPE       26557 non-null  object
 13  TREATMENT_CATEGORY  26557 non-null  object
 14  ADMISSION_TYPE      26557 non-null  object
 15  DISCHARGE_TYPE      26557 non-null  int64
 16  LOS_DAYS            26557 non-null  int64
 17  DOCTOR_CODE         26557 non-null  object
 18  SPECIALTY_CODE      26557 non-null  object
 19  SPECIALTY_GRP       26557 non-null  object
 20  TOSP_COUNT          26557 non-null  int64
 21  TOSP_CODE1          26557 non-null  object
 22  TOSP_CODE2          26557 non-null  object
 23  TOSP_CODE3          26557 non-null  object
 24  TOSP_CODE4          26557 non-null  object
 25  NATIONALITY         26557 non-null  object
 26  NONRESID_FLAG       26557 non-null  int32
 27  GENDER              26557 non-null  object
 28  DECEASED_FLAG       26557 non-null  int32
 29  MARITAL_STATUS      26557 non-null  object
 30  RELIGION            26557 non-null  object
 31  VIP_FLAG            26557 non-null  int32
 32  RACE                26557 non-null  object
 33  PACKAGE_PRICE       26557 non-null  float64
 34  PACKAGE_EXCL        26557 non-null  float64
 35  PACKAGE_ADJ         26557 non-null  float64
 36  PACKAGE_CODE1       26557 non-null  object
 37  PACKAGE_CODE2       26557 non-null  object
 38  ICD_CODE1           26557 non-null  object
 39  ICD_CODE2           26557 non-null  object
 40  ICD_CODE3           26557 non-null  object
 41  PROF_FEE            26557 non-null  float64
 42  TOTAL_FEES          26557 non-null  float64
 43  WRITE_OFF           26557 non-null  float64
 44  Admission_Age       26557 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 9.0+ MB
None
(98296, 45) (32766, 45)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 98296 entries, 2016063345 to 2019131221
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      98296 non-null  float64
 1   PAYER_CODE_1        98296 non-null  object
 2   PAYER_1_PAID_AMT    98296 non-null  float64
 3   PAYER_CODE_2        98296 non-null  object
 4   PAYER_2_PAID_AMT    98296 non-null  float64
 5   PAYER_CODE_3        98296 non-null  object
 6   PAYER_3_PAID_AMT    98296 non-null  float64
 7   PAYER_CODE_4        98296 non-null  object
 8   PAYER_4_PAID_AMT    98296 non-null  float64
 9   PAYER_CODE_5        98296 non-null  object
 10  PAYER_5_PAID_AMT    98296 non-null  float64
 11  BED_TYPE            98296 non-null  object
 12  REFERRAL_TYPE       98296 non-null  object
 13  TREATMENT_CATEGORY  98296 non-null  object
 14  ADMISSION_TYPE      98296 non-null  object
 15  DISCHARGE_TYPE      98296 non-null  int64
 16  LOS_DAYS            98296 non-null  int64
 17  DOCTOR_CODE         98296 non-null  object
 18  SPECIALTY_CODE      98296 non-null  object
 19  SPECIALTY_GRP       98296 non-null  object
 20  TOSP_COUNT          98296 non-null  int64
 21  TOSP_CODE1          98296 non-null  object
 22  TOSP_CODE2          98296 non-null  object
 23  TOSP_CODE3          98296 non-null  object
 24  TOSP_CODE4          98296 non-null  object
 25  NATIONALITY         98296 non-null  object
 26  NONRESID_FLAG       98296 non-null  int32
 27  GENDER              98296 non-null  object
 28  DECEASED_FLAG       98296 non-null  int32
 29  MARITAL_STATUS      98296 non-null  object
 30  RELIGION            98296 non-null  object
 31  VIP_FLAG            98296 non-null  int32
 32  RACE                98296 non-null  object
 33  PACKAGE_PRICE       98296 non-null  float64
 34  PACKAGE_EXCL        98296 non-null  float64
 35  PACKAGE_ADJ         98296 non-null  float64
 36  PACKAGE_CODE1       98296 non-null  object
 37  PACKAGE_CODE2       98296 non-null  object
 38  ICD_CODE1           98296 non-null  object
 39  ICD_CODE2           98296 non-null  object
 40  ICD_CODE3           98296 non-null  object
 41  PROF_FEE            98296 non-null  float64
 42  TOTAL_FEES          98296 non-null  float64
 43  WRITE_OFF           98296 non-null  float64
 44  Admission_Age       98296 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 33.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32766 entries, 2016078293 to 2019131213
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      32766 non-null  float64
 1   PAYER_CODE_1        32766 non-null  object
 2   PAYER_1_PAID_AMT    32766 non-null  float64
 3   PAYER_CODE_2        32766 non-null  object
 4   PAYER_2_PAID_AMT    32766 non-null  float64
 5   PAYER_CODE_3        32766 non-null  object
 6   PAYER_3_PAID_AMT    32766 non-null  float64
 7   PAYER_CODE_4        32766 non-null  object
 8   PAYER_4_PAID_AMT    32766 non-null  float64
 9   PAYER_CODE_5        32766 non-null  object
 10  PAYER_5_PAID_AMT    32766 non-null  float64
 11  BED_TYPE            32766 non-null  object
 12  REFERRAL_TYPE       32766 non-null  object
 13  TREATMENT_CATEGORY  32766 non-null  object
 14  ADMISSION_TYPE      32766 non-null  object
 15  DISCHARGE_TYPE      32766 non-null  int64
 16  LOS_DAYS            32766 non-null  int64
 17  DOCTOR_CODE         32766 non-null  object
 18  SPECIALTY_CODE      32766 non-null  object
 19  SPECIALTY_GRP       32766 non-null  object
 20  TOSP_COUNT          32766 non-null  int64
 21  TOSP_CODE1          32766 non-null  object
 22  TOSP_CODE2          32766 non-null  object
 23  TOSP_CODE3          32766 non-null  object
 24  TOSP_CODE4          32766 non-null  object
 25  NATIONALITY         32766 non-null  object
 26  NONRESID_FLAG       32766 non-null  int32
 27  GENDER              32766 non-null  object
 28  DECEASED_FLAG       32766 non-null  int32
 29  MARITAL_STATUS      32766 non-null  object
 30  RELIGION            32766 non-null  object
 31  VIP_FLAG            32766 non-null  int32
 32  RACE                32766 non-null  object
 33  PACKAGE_PRICE       32766 non-null  float64
 34  PACKAGE_EXCL        32766 non-null  float64
 35  PACKAGE_ADJ         32766 non-null  float64
 36  PACKAGE_CODE1       32766 non-null  object
 37  PACKAGE_CODE2       32766 non-null  object
 38  ICD_CODE1           32766 non-null  object
 39  ICD_CODE2           32766 non-null  object
 40  ICD_CODE3           32766 non-null  object
 41  PROF_FEE            32766 non-null  float64
 42  TOTAL_FEES          32766 non-null  float64
 43  WRITE_OFF           32766 non-null  float64
 44  Admission_Age       32766 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 11.1+ MB
None
(28604, 45) (9534, 45)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28604 entries, 3015027898 to 3019056279
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      28604 non-null  float64
 1   PAYER_CODE_1        28604 non-null  object
 2   PAYER_1_PAID_AMT    28604 non-null  float64
 3   PAYER_CODE_2        28604 non-null  object
 4   PAYER_2_PAID_AMT    28604 non-null  float64
 5   PAYER_CODE_3        28604 non-null  object
 6   PAYER_3_PAID_AMT    28604 non-null  float64
 7   PAYER_CODE_4        28604 non-null  object
 8   PAYER_4_PAID_AMT    28604 non-null  float64
 9   PAYER_CODE_5        28604 non-null  object
 10  PAYER_5_PAID_AMT    28604 non-null  float64
 11  BED_TYPE            28604 non-null  object
 12  REFERRAL_TYPE       28604 non-null  object
 13  TREATMENT_CATEGORY  28604 non-null  object
 14  ADMISSION_TYPE      28604 non-null  object
 15  DISCHARGE_TYPE      28604 non-null  int64
 16  LOS_DAYS            28604 non-null  int64
 17  DOCTOR_CODE         28604 non-null  object
 18  SPECIALTY_CODE      28604 non-null  object
 19  SPECIALTY_GRP       28604 non-null  object
 20  TOSP_COUNT          28604 non-null  int64
 21  TOSP_CODE1          28604 non-null  object
 22  TOSP_CODE2          28604 non-null  object
 23  TOSP_CODE3          28604 non-null  object
 24  TOSP_CODE4          28604 non-null  object
 25  NATIONALITY         28604 non-null  object
 26  NONRESID_FLAG       28604 non-null  int32
 27  GENDER              28604 non-null  object
 28  DECEASED_FLAG       28604 non-null  int32
 29  MARITAL_STATUS      28604 non-null  object
 30  RELIGION            28604 non-null  object
 31  VIP_FLAG            28604 non-null  int32
 32  RACE                28604 non-null  object
 33  PACKAGE_PRICE       28604 non-null  float64
 34  PACKAGE_EXCL        28604 non-null  float64
 35  PACKAGE_ADJ         28604 non-null  float64
 36  PACKAGE_CODE1       28604 non-null  object
 37  PACKAGE_CODE2       28604 non-null  object
 38  ICD_CODE1           28604 non-null  object
 39  ICD_CODE2           28604 non-null  object
 40  ICD_CODE3           28604 non-null  object
 41  PROF_FEE            28604 non-null  float64
 42  TOTAL_FEES          28604 non-null  float64
 43  WRITE_OFF           28604 non-null  float64
 44  Admission_Age       28604 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 9.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 3016031348 to 3019056276
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      9534 non-null   float64
 1   PAYER_CODE_1        9534 non-null   object
 2   PAYER_1_PAID_AMT    9534 non-null   float64
 3   PAYER_CODE_2        9534 non-null   object
 4   PAYER_2_PAID_AMT    9534 non-null   float64
 5   PAYER_CODE_3        9534 non-null   object
 6   PAYER_3_PAID_AMT    9534 non-null   float64
 7   PAYER_CODE_4        9534 non-null   object
 8   PAYER_4_PAID_AMT    9534 non-null   float64
 9   PAYER_CODE_5        9534 non-null   object
 10  PAYER_5_PAID_AMT    9534 non-null   float64
 11  BED_TYPE            9534 non-null   object
 12  REFERRAL_TYPE       9534 non-null   object
 13  TREATMENT_CATEGORY  9534 non-null   object
 14  ADMISSION_TYPE      9534 non-null   object
 15  DISCHARGE_TYPE      9534 non-null   int64
 16  LOS_DAYS            9534 non-null   int64
 17  DOCTOR_CODE         9534 non-null   object
 18  SPECIALTY_CODE      9534 non-null   object
 19  SPECIALTY_GRP       9534 non-null   object
 20  TOSP_COUNT          9534 non-null   int64
 21  TOSP_CODE1          9534 non-null   object
 22  TOSP_CODE2          9534 non-null   object
 23  TOSP_CODE3          9534 non-null   object
 24  TOSP_CODE4          9534 non-null   object
 25  NATIONALITY         9534 non-null   object
 26  NONRESID_FLAG       9534 non-null   int32
 27  GENDER              9534 non-null   object
 28  DECEASED_FLAG       9534 non-null   int32
 29  MARITAL_STATUS      9534 non-null   object
 30  RELIGION            9534 non-null   object
 31  VIP_FLAG            9534 non-null   int32
 32  RACE                9534 non-null   object
 33  PACKAGE_PRICE       9534 non-null   float64
 34  PACKAGE_EXCL        9534 non-null   float64
 35  PACKAGE_ADJ         9534 non-null   float64
 36  PACKAGE_CODE1       9534 non-null   object
 37  PACKAGE_CODE2       9534 non-null   object
 38  ICD_CODE1           9534 non-null   object
 39  ICD_CODE2           9534 non-null   object
 40  ICD_CODE3           9534 non-null   object
 41  PROF_FEE            9534 non-null   float64
 42  TOTAL_FEES          9534 non-null   float64
 43  WRITE_OFF           9534 non-null   float64
 44  Admission_Age       9534 non-null   int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 3.2+ MB
None
(79336, 45) (26445, 45)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79336 entries, 4015032842 to 4019117134
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      79336 non-null  float64
 1   PAYER_CODE_1        79336 non-null  object
 2   PAYER_1_PAID_AMT    79336 non-null  float64
 3   PAYER_CODE_2        79336 non-null  object
 4   PAYER_2_PAID_AMT    79336 non-null  float64
 5   PAYER_CODE_3        79336 non-null  object
 6   PAYER_3_PAID_AMT    79336 non-null  float64
 7   PAYER_CODE_4        79336 non-null  object
 8   PAYER_4_PAID_AMT    79336 non-null  float64
 9   PAYER_CODE_5        79336 non-null  object
 10  PAYER_5_PAID_AMT    79336 non-null  float64
 11  BED_TYPE            79336 non-null  object
 12  REFERRAL_TYPE       79336 non-null  object
 13  TREATMENT_CATEGORY  79336 non-null  object
 14  ADMISSION_TYPE      79336 non-null  object
 15  DISCHARGE_TYPE      79336 non-null  int64
 16  LOS_DAYS            79336 non-null  int64
 17  DOCTOR_CODE         79336 non-null  object
 18  SPECIALTY_CODE      79336 non-null  object
 19  SPECIALTY_GRP       79336 non-null  object
 20  TOSP_COUNT          79336 non-null  int64
 21  TOSP_CODE1          79336 non-null  object
 22  TOSP_CODE2          79336 non-null  object
 23  TOSP_CODE3          79336 non-null  object
 24  TOSP_CODE4          79336 non-null  object
 25  NATIONALITY         79336 non-null  object
 26  NONRESID_FLAG       79336 non-null  int32
 27  GENDER              79336 non-null  object
 28  DECEASED_FLAG       79336 non-null  int32
 29  MARITAL_STATUS      79336 non-null  object
 30  RELIGION            79336 non-null  object
 31  VIP_FLAG            79336 non-null  int32
 32  RACE                79336 non-null  object
 33  PACKAGE_PRICE       79336 non-null  float64
 34  PACKAGE_EXCL        79336 non-null  float64
 35  PACKAGE_ADJ         79336 non-null  float64
 36  PACKAGE_CODE1       79336 non-null  object
 37  PACKAGE_CODE2       79336 non-null  object
 38  ICD_CODE1           79336 non-null  object
 39  ICD_CODE2           79336 non-null  object
 40  ICD_CODE3           79336 non-null  object
 41  PROF_FEE            79336 non-null  float64
 42  TOTAL_FEES          79336 non-null  float64
 43  WRITE_OFF           79336 non-null  float64
 44  Admission_Age       79336 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 26.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26445 entries, 4015035862 to 4019117113
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TOTAL_PAID_AMT      26445 non-null  float64
 1   PAYER_CODE_1        26445 non-null  object
 2   PAYER_1_PAID_AMT    26445 non-null  float64
 3   PAYER_CODE_2        26445 non-null  object
 4   PAYER_2_PAID_AMT    26445 non-null  float64
 5   PAYER_CODE_3        26445 non-null  object
 6   PAYER_3_PAID_AMT    26445 non-null  float64
 7   PAYER_CODE_4        26445 non-null  object
 8   PAYER_4_PAID_AMT    26445 non-null  float64
 9   PAYER_CODE_5        26445 non-null  object
 10  PAYER_5_PAID_AMT    26445 non-null  float64
 11  BED_TYPE            26445 non-null  object
 12  REFERRAL_TYPE       26445 non-null  object
 13  TREATMENT_CATEGORY  26445 non-null  object
 14  ADMISSION_TYPE      26445 non-null  object
 15  DISCHARGE_TYPE      26445 non-null  int64
 16  LOS_DAYS            26445 non-null  int64
 17  DOCTOR_CODE         26445 non-null  object
 18  SPECIALTY_CODE      26445 non-null  object
 19  SPECIALTY_GRP       26445 non-null  object
 20  TOSP_COUNT          26445 non-null  int64
 21  TOSP_CODE1          26445 non-null  object
 22  TOSP_CODE2          26445 non-null  object
 23  TOSP_CODE3          26445 non-null  object
 24  TOSP_CODE4          26445 non-null  object
 25  NATIONALITY         26445 non-null  object
 26  NONRESID_FLAG       26445 non-null  int32
 27  GENDER              26445 non-null  object
 28  DECEASED_FLAG       26445 non-null  int32
 29  MARITAL_STATUS      26445 non-null  object
 30  RELIGION            26445 non-null  object
 31  VIP_FLAG            26445 non-null  int32
 32  RACE                26445 non-null  object
 33  PACKAGE_PRICE       26445 non-null  float64
 34  PACKAGE_EXCL        26445 non-null  float64
 35  PACKAGE_ADJ         26445 non-null  float64
 36  PACKAGE_CODE1       26445 non-null  object
 37  PACKAGE_CODE2       26445 non-null  object
 38  ICD_CODE1           26445 non-null  object
 39  ICD_CODE2           26445 non-null  object
 40  ICD_CODE3           26445 non-null  object
 41  PROF_FEE            26445 non-null  float64
 42  TOTAL_FEES          26445 non-null  float64
 43  WRITE_OFF           26445 non-null  float64
 44  Admission_Age       26445 non-null  int64
dtypes: float64(12), int32(3), int64(4), object(26)
memory usage: 9.0+ MB
None

In [10]:
dict_hosp_filepaths

{'GHL': './Data Exploration/data/GHL_data.pkl',
 'MEH': './Data Exploration/data/MEH_data.pkl',
 'PEH': './Data Exploration/data/PEH_data.pkl',
 'PNH': './Data Exploration/data/PNH_data.pkl'}

In [11]:
df_temp = pd.read_pickle(dict_hosp_filepaths['MEH'])
df_temp.columns

Index(['TOTAL_PAID_AMT', 'PAYER_CODE_1', 'PAYER_1_PAID_AMT', 'PAYER_CODE_2',
       'PAYER_2_PAID_AMT', 'PAYER_CODE_3', 'PAYER_3_PAID_AMT', 'PAYER_CODE_4',
       'PAYER_4_PAID_AMT', 'PAYER_CODE_5', 'PAYER_5_PAID_AMT', 'BED_TYPE',
       'REFERRAL_TYPE', 'TREATMENT_CATEGORY', 'ADMISSION_TYPE',
       'DISCHARGE_TYPE', 'LOS_DAYS', 'DOCTOR_CODE', 'SPECIALTY_CODE',
       'SPECIALTY_GRP', 'TOSP_COUNT', 'TOSP_CODE1', 'TOSP_CODE2', 'TOSP_CODE3',
       'TOSP_CODE4', 'NATIONALITY', 'NONRESID_FLAG', 'GENDER', 'DECEASED_FLAG',
       'MARITAL_STATUS', 'RELIGION', 'VIP_FLAG', 'RACE', 'PACKAGE_PRICE',
       'PACKAGE_EXCL', 'PACKAGE_ADJ', 'PACKAGE_CODE1', 'PACKAGE_CODE2',
       'ICD_CODE1', 'ICD_CODE2', 'ICD_CODE3', 'PROF_FEE', 'TOTAL_FEES',
       'WRITE_OFF', 'Admission_Age'],
      dtype='object')

In [13]:
dict_X_train_file_paths = {}
dict_y_train_file_paths = {}
dict_X_test_file_paths = {}
dict_y_test_file_paths = {}
for hosp in dict_hosp_filepaths:
    X_train_file_paths, y_train_file_path, X_test_file_paths, y_test_file_path = dpl.transform_train_test_data(dict_hosp_filepaths[hosp])
    dict_X_train_file_paths[hosp] = X_train_file_paths
    dict_y_train_file_paths[hosp] = y_train_file_path
    dict_X_test_file_paths[hosp] = X_test_file_paths
    dict_y_test_file_paths[hosp] = y_test_file_path
print(dict_X_train_file_paths)
print(dict_y_train_file_paths)
print(dict_X_test_file_paths)
print(dict_y_test_file_paths)

Processing train X rows: 0 ~ 10000
Processing train X rows: 10000 ~ 20000
Processing train X rows: 20000 ~ 30000
Processing train X rows: 30000 ~ 40000
Processing train X rows: 40000 ~ 50000
Processing train X rows: 50000 ~ 60000
Processing train X rows: 60000 ~ 70000
Processing train X rows: 70000 ~ 80000
Processing test X rows: 0 ~ 10000
Processing test X rows: 10000 ~ 20000
Processing test X rows: 20000 ~ 30000
Processing train X rows: 0 ~ 10000
Processing train X rows: 10000 ~ 20000
Processing train X rows: 20000 ~ 30000
Processing train X rows: 30000 ~ 40000
Processing train X rows: 40000 ~ 50000
Processing train X rows: 50000 ~ 60000
Processing train X rows: 60000 ~ 70000
Processing train X rows: 70000 ~ 80000
Processing train X rows: 80000 ~ 90000
Processing train X rows: 90000 ~ 100000
Processing test X rows: 0 ~ 10000
Processing test X rows: 10000 ~ 20000
Processing test X rows: 20000 ~ 30000
Processing test X rows: 30000 ~ 40000
Processing train X rows: 0 ~ 10000
Processing train X rows: 10000 ~ 20000
Processing train X rows: 20000 ~ 30000
Processing test X rows: 0 ~ 10000
Processing train X rows: 0 ~ 10000
Processing train X rows: 10000 ~ 20000
Processing train X rows: 20000 ~ 30000
Processing train X rows: 30000 ~ 40000
Processing train X rows: 40000 ~ 50000
Processing train X rows: 50000 ~ 60000
Processing train X rows: 60000 ~ 70000
Processing train X rows: 70000 ~ 80000
Processing test X rows: 0 ~ 10000
Processing test X rows: 10000 ~ 20000
Processing test X rows: 20000 ~ 30000
{'GHL': ['./Data Exploration/data/GHL_data_X_train_0.pkl', './Data Exploration/data/GHL_data_X_train_1.pkl', './Data Exploration/data/GHL_data_X_train_2.pkl', './Data Exploration/data/GHL_data_X_train_3.pkl', './Data Exploration/data/GHL_data_X_train_4.pkl', './Data Exploration/data/GHL_data_X_train_5.pkl', './Data Exploration/data/GHL_data_X_train_6.pkl', './Data Exploration/data/GHL_data_X_train_7.pkl'], 'MEH': ['./Data Exploration/data/MEH_data_X_train_0.pkl', './Data Exploration/data/MEH_data_X_train_1.pkl', './Data Exploration/data/MEH_data_X_train_2.pkl', './Data Exploration/data/MEH_data_X_train_3.pkl', './Data Exploration/data/MEH_data_X_train_4.pkl', './Data Exploration/data/MEH_data_X_train_5.pkl', './Data Exploration/data/MEH_data_X_train_6.pkl', './Data Exploration/data/MEH_data_X_train_7.pkl', './Data Exploration/data/MEH_data_X_train_8.pkl', './Data Exploration/data/MEH_data_X_train_9.pkl'], 'PEH': ['./Data Exploration/data/PEH_data_X_train_0.pkl', './Data Exploration/data/PEH_data_X_train_1.pkl', './Data Exploration/data/PEH_data_X_train_2.pkl'], 'PNH': ['./Data Exploration/data/PNH_data_X_train_0.pkl', './Data Exploration/data/PNH_data_X_train_1.pkl', './Data Exploration/data/PNH_data_X_train_2.pkl', './Data Exploration/data/PNH_data_X_train_3.pkl', './Data Exploration/data/PNH_data_X_train_4.pkl', './Data Exploration/data/PNH_data_X_train_5.pkl', './Data Exploration/data/PNH_data_X_train_6.pkl', './Data Exploration/data/PNH_data_X_train_7.pkl']}
{'GHL': './Data Exploration/data/GHL_data_y_train.pkl', 'MEH': './Data Exploration/data/MEH_data_y_train.pkl', 'PEH': './Data Exploration/data/PEH_data_y_train.pkl', 'PNH': './Data Exploration/data/PNH_data_y_train.pkl'}
{'GHL': ['./Data Exploration/data/GHL_data_X_test_0.pkl', './Data Exploration/data/GHL_data_X_test_1.pkl', './Data Exploration/data/GHL_data_X_test_2.pkl'], 'MEH': ['./Data Exploration/data/MEH_data_X_test_0.pkl', './Data Exploration/data/MEH_data_X_test_1.pkl', './Data Exploration/data/MEH_data_X_test_2.pkl', './Data Exploration/data/MEH_data_X_test_3.pkl'], 'PEH': ['./Data Exploration/data/PEH_data_X_test_0.pkl'], 'PNH': ['./Data Exploration/data/PNH_data_X_test_0.pkl', './Data Exploration/data/PNH_data_X_test_1.pkl', './Data Exploration/data/PNH_data_X_test_2.pkl']}
{'GHL': './Data Exploration/data/GHL_data_y_test.pkl', 'MEH': './Data Exploration/data/MEH_data_y_test.pkl', 'PEH': './Data Exploration/data/PEH_data_y_test.pkl', 'PNH': './Data Exploration/data/PNH_data_y_test.pkl'}

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
dict_df_train_X = {}
dict_save_folder_paths = {}
for hosp in dict_X_train_file_paths:
    dict_df_train_X[hosp] = pd.concat([
        pd.read_pickle(X_train_file_path)
        for X_train_file_path in dict_X_train_file_paths[hosp]])
    dict_save_folder_paths[hosp] = os.path.dirname(dict_X_train_file_paths[hosp][0])
    print('\n', hosp)
    print(dict_df_train_X[hosp].info())

 GHL
<class 'pandas.core.frame.DataFrame'>
Int64Index: 79672 entries, 1014019571 to 1019109590
Columns: 38885 entries, TOTAL_PAID_AMT to ICD_CODE3_Z992
dtypes: float64(38885)
memory usage: 23.1 GB
None

MemoryError: Unable to allocate 28.5 GiB for an array with shape (38885, 98296) and data type float64

In [ ]:
for hosp in dict_df_train_X:
    print(dict_df_train_X[hosp].select_dtypes(exclude='float64').columns)

In [ ]:
for hosp in dict_df_train_X:
    print(dict_df_train_X[hosp].select_dtypes(exclude='object').columns)

In [ ]:
dict_df_train_y = {}
for hosp in dict_y_train_file_paths:
    dict_df_train_y[hosp] = pd.read_pickle(dict_y_train_file_paths[hosp])
    print('\n', hosp)
    print(df_train_y.shape)

In [ ]:
dict_forest = {}
dict_forest_file_path = {}
for hosp in dict_df_train_X:
    if hosp in dict_df_train_y:
        forest = RandomForestRegressor(random_state=42)
        forest.fit(dict_df_train_X[hosp], dict_df_train_y[hosp])
        pkl_file_path = f'{dict_save_folder_paths[hosp]}/{hosp}_forest_model.pkl'
        with open(pkl_file_path, 'wb') as file:
            pickle.dump(forest, file)
        dict_forest[hosp] = file_path
print(dict_forest)

In [ ]:
for hosp in dict_forest:
    print(len(forest.feature_importances_))
    print(sum(forest.feature_importances_ > 0))
    feature_importance_file_path = f'{dict_save_folder_paths[hosp]}/{hosp}_forest_feat_impt.npy'
    np.save(feature_importance_file_path, forest.feature_importances_ > 0)

In [ ]:
dict_new_train_X_file_path = {}
for hosp in dict_df_train_X:
    if hosp in dict_forest:
        forest = pickle.load(open(dict_forest[hosp], 'rb'))
        df_train_new_X = dict_df_train_X[hosp].loc[:, forest.feature_importances_ > 0]
        pkl_file_path = f'{dict_save_folder_paths[hosp]}/{hosp}_new_train_X.pkl'
        df_train_new_X.to_pickle(pkl_file_path)
        dict_new_train_X_file_path[hosp] = pkl_file_path
        print(df_train_new_X.shape)
print(dict_new_train_X_file_path)

In [ ]:
dict_new_test_X_file_path = {}
for hosp in dict_X_test_file_paths:
    df_test_X = pd.concat([
        pd.read_pickle(X_test_file_path)
        for X_test_file_path in dict_X_test_file_paths[hosp]])
    save_dir = os.path.dirname(dict_X_test_file_paths[hosp][0])
    if hosp in dict_forest:
        df_test_new_X = df_test_X.loc[:, dict_forest[hosp].feature_importances_ > 0]
        pkl_file_path = f'{save_dir}/{hosp}_new_test_X.pkl'
        df_test_new_X.to_pickle(pkl_file_path)
        dict_new_test_X_file_path[hosp] = pkl_file_path
        print(df_test_new_X.shape)
print(dict_new_test_X_file_path)

In [9]:
dict_hosp_test_X_file_paths = {
    'GHL': './Data Exploration/data/GHL_data.pkl',
    'MEH': './Data Exploration/data/MEH_data.pkl',
    'PEH': './Data Exploration/data/PEH_data.pkl',
    'PNH': './Data Exploration/data/PNH_data.pkl'}
dict_hosp_scaler_pkl_file_paths = {
    'GHL': './data/GHL_data_scaler.pkl',
    'MEH': './data/MEH_data_scaler.pkl',
    'PEH': './data/PEH_data_scaler.pkl',
    'PNH': './data/PNH_data_scaler.pkl'}
dict_hosp_ohe_pkl_file_paths = {
    'GHL': './data/GHL_data_ohe.pkl',
    'MEH': './data/MEH_data_ohe.pkl',
    'PEH': './data/PEH_data_ohe.pkl',
    'PNH': './data/PNH_data_ohe.pkl'}
dict_hosp_feature_importance_file_paths = {
    'GHL': './data/GHL_forest_feat_impt.npy',
    'MEH': './data/MEH_forest_feat_impt.npy',
    'PEH': './data/PEH_forest_feat_impt.npy',
    'PNH': './data/PNH_forest_feat_impt.npy'}

In [11]:
for hosp in dict_hosp_test_X_file_paths:
    #df_test = pd.read_pickle(dict_hosp_test_X_file_paths[hosp])
    df_test_X_new = dpl.transform_test_data(dict_df_test[hosp].drop('WRITE_OFF', axis=1),
                                            dict_hosp_scaler_pkl_file_paths[hosp],
                                            dict_hosp_ohe_pkl_file_paths[hosp],
                                            dict_hosp_feature_importance_file_paths[hosp])
    print(df_test_X_new.shape)
    df_test_X_new.to_pickle(f'./data/{hosp}_data_X_test_new.pkl')

(26557, 3581)
(32766, 4975)
(9534, 1037)
(26445, 3223)